body {
  margin: 0;
  text-align: center;
}
h3 {
  color: #eeeeee;
}
.score {
  font-family: "Cursed-timer, sans-serif";
  background: #0a0001;
  font-size: 90px;
  color: #f94f6d;
  width: 120px;
  margin: 20px;
}

.container {
  padding: 30px;
  margin: 100px auto;
  background: #1b244a;
  display: flex;
  width: auto;
  max-width: 600px;
  min-width: 400px;
  justify-content: space-around;
  border-radius: 10px;
}
button {
  background: none;
  width: 45;
  height: 45;
  margin-bottom: 30px;
  border-radius: 5px;
}
.resetbutton {
  position: relative;
  background: none;
  width: 100px;
}
.rediv {
  position: absolute;
  display: inline;
  height: 40px;
  margin-top: 210px;
  padding: 20px;
}
